
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baseLayout}">
  
  <body>
  


<th:block layout:fragment="content">

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-3 mb-4 text-center">아이디 찾기</h1>
    <div class="row">
        <div class="col">
            <div class="col">
            <div class="card card-info">
                <div class="card-header">
                <h3 class="card-title">아이디찾기 폼</h3>
                </div>
 
            <form class="form-horizontal" id="idFindForm" th:action="@{/user/idfind}" method="post">
            <div class="card-body">
                <div class="form-group row">
                    <label for="mbsp_name" class="col-sm-4 col-form-label">이름</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="mbsp_name" name="mbsp_name" placeholder="이름입력하세요." value="홍길동">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mbsp_email" class="col-sm-4 col-form-label">전자우편</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="mbsp_email" name="mbsp_email" placeholder="전자우편을 입력하세요." value="newcomsa@nate.com">
                    </div>
                    <div class="col-sm-2">
                    	<button type="button" class="btn btn-link" id="btnMailAuthcode">인증번호발송</button>
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="authcode" class="col-sm-4 col-form-label">인증코드</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="authcode" name="authcode" placeholder="authcode">
                    </div>
                </div>  
            </div>
            
            <div class="card-footer text-center">
            <button type="submit" class="btn btn-info btn-block" id="btnID">아이디찾기</button>
            </div>
            
            </form>
          </div>
        </div>
        </div>
    </div>
    <div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
  </div>
</main>



  
</th:block>

 <th:block layout:fragment="script">
 <!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
 <script th:inline="javascript">

 let msg = [[${msg}]];  // "failPW" or "failID"
 if(msg == "failID") {
     alert("이름과메일정보를 확인해주세요.");
     document.getElementById("mbsp_email").focus();
 }else if(msg == "failAuthCode") {
     alert("인증코드를 확인해주세요.");
     document.getElementById("authcode").focus();
 }


 $(document).ready(function() {
   //메일인증코드요청
   $("#btnMailAuthcode").on("click", function() {

     if($("#mbsp_email").val() == "") {
         alert("메일을 입력하세요.");
         $("#mbsp_email").focus();
         return;
     }

     $.ajax({
         url: '/email/authcode',
         type: 'get',
         data: {receiverMail : $("#mbsp_email").val(), type : "emailID"},
         dataType: 'text',
         success: function(result) {
             if(result == "success") {
                 alert("메일로 인증코드가 발급되었습니다.");
             }
         }
     });
   });
     
 }); // ready event end
 
  </script>
 </th:block>
  </body>
</html>
